@import "../../scss/variables.scss";

.wrapper {
  composes: container from global;
  min-height: 100vh;
  flex-direction: column;
}

.row {
  composes: row from global;
  justify-content: center;
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding: 30px 0;
}

.button {
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
  width: 100%;
}
