@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.wrapper {
  min-height: 100vh;
  background: $white-gray;
  border-left: 1px solid $black;
  border-right: 1px solid $black;
  flex: 1;

  @include min(md) {
    flex: 3;
  }
}

.title {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
}
