@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.item {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include min(lg) {
    flex-direction: row;
  }
}

.container {
  @include flexbox(space-between, center);
  flex: 1;
}

.title {
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.author,
.amount {
  margin: 0;
  font-size: 10px;
}

.amount {
  @include min(md) {
    margin: 0 10px;
  }
}

.button {
  font-size: 10px;
  font-weight: bold;
  margin-top: 10px;
  height: 34px;

  @include min(lg) {
    margin-top: 0;
  }
}
