@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.item {
  padding: 10px 0;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagePlaceholder {
  background: $light-gray;
  color: $medium-gray;
  font-size: 10px;
  padding: 50px 0;
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
  text-align: center;
}

.placeholderText {
  margin: 0;
}

.title {
  color: $orange;
  font-weight: bold;
  margin: 0;
  font-size: 12px;

  @include min(sm) {
    font-size: 16px;
  }
}

.author,
.price {
  margin: 0;
  margin-bottom: 10px;
  font-size: 10px;

  @include min(sm) {
    font-size: 14px;
  }
}

.price {
  font-weight: bold;
}

.button {
  font-size: 10px;
  font-weight: bold;
}
